/* You can add global styles to this file, and also import other style files */
.card {
  cursor: pointer;
}

.gem {
  display: inline;
}

.yellow-gem {
  color: yellow;
  background-color: black;
  border-radius: 50px;
}

.green-gem {
  color: green;
}

.turquoise-gem {
  color: turquoise
}

.magenta-gem {
  color: magenta
}